# Library Installation

In [8]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install pandas-datareader
!pip install yahoo-fin
!pip install requests

Requirement already satisfied: numpy in c:\users\damien lim\anaconda3\lib\site-packages (1.20.1)
Requirement already satisfied: pandas in c:\users\damien lim\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\damien lim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in c:\users\damien lim\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\damien lim\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: six in c:\users\damien lim\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas-datareader in c:\users\damien lim\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.23 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (1.2.4)
Requirement already satisfied: lxml in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\damien lim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.4)
Requirement already satisfied: yahoo-fin in c:\users\damien lim\anaconda3\lib\site-packages (0.8.9.1)
Requirement already satisfied: pandas in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (1.2.4)
Requirement already satisfied: feedparser in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (6.0.8)
Requirement already satisfied: requests-html in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (0.10.0)
Requirement already satisfied: requests in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (2.25.1)
Requirement already satisfied: sgmllib3k in c:\users\damien lim\anaconda3\lib\site-packages (from feedparser->yahoo-fin) (1.0.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\damien lim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->yahoo-fin) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (2.10)
Requirement already satisfied: fake-useragent in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.1.11)
Requirement already satisfied: parse in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.19.0)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.2.6)
Requirement already satisfied: pyquery in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.4.3)
Requirement already satisfied: bs4 in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.0.1)
Requirement already satisfied: w3lib in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.22.0)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (8.2.2)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.59.0)
Requirement already satisfied: websockets<10.0,>=9.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (9.1)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (3.10.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (1.4.4)
Requirement already satisfied: zipp>=0.5 in c:\users\damien lim\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo-fin) (3.4.1)
Requirement already satisfied: beautifulsoup4 in c:\users\damien lim\anaconda3\lib\site-packages (from bs4->requests-html->yahoo-fin) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\damien lim\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests-html->yahoo-fin) (2.2.1)
Requirement already satisfied: cssselect>0.7.9 in c:\users\damien lim\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo-fin) (1.1.0)
Requirement already satisfied: lxml>=2.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo-fin) (4.6.3)
Requirement already satisfied: requests in c:\users\damien lim\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\damien lim\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\damien lim\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\damien lim\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\damien lim\anaconda3\lib\site-packages (from requests) (4.0.0)

In [9]:
import numpy as np
import pandas as pd
import time
from pandas_datareader import data
import matplotlib.pyplot as plt
import yahoo_fin.stock_info as yf #https://theautomatic.net/yahoo_fin-documentation/
import yfinance as yf2

In [10]:
ticker_names=[]
balance_sheet = []
income_statement = []
cfs = []
years = []

In [11]:
def get_data(ticker):
    global ticker_names
    global balance_sheet
    global income_statement
    global cfs
    global years
    balance_sheet=yf.get_balance_sheet(ticker)
    income_statement=yf.get_income_statement(ticker)
    cfs=yf.get_cash_flow(ticker)
    years=balance_sheet.columns

## Testing for individual stock

In [26]:
get_data('C09.SI')

In [27]:
balance_sheet

endDate,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Breakdown,,,,
intangibleAssets,1556000,1416000,1643000,2388000
totalLiab,14434335000,11933701000,8611752000,7718168000
totalStockholderEquity,8171990000,10190032000,9710479000,9061064000
minorityInterest,740249000,746306000,2233243000,2254844000
otherCurrentLiab,1427356000,817503000,899341000,1136665000
totalAssets,23676792000,23200257000,20885692000,19364294000
commonStock,1661179000,1661179000,1661179000,1661179000
otherCurrentAssets,85648000,244520000,25009000,74474000
retainedEarnings,6276295000,8337629000,7966274000,7271048000
otherLiab,395995000,293888000,439131000,645130000
treasuryStock,234516000,191224000,83026000,128837000
otherAssets,4808327000,5086577000,4151529000,3040153000
cash,3126529000,2797652000,2289247000,3775909000
totalCurrentLiabilities,5044418000,3777213000,3103781000,3317388000
deferredLongTermAssetCharges,19818000,23051000,56408000,57986000
shortLongTermDebt,2038377000,1492051000,826161000,853941000
otherStockholderEquity,234516000,191224000,83026000,128837000
propertyPlantEquipment,5525684000,5462367000,5013300000,4998887000
totalCurrentAssets,10812119000,9834273000,9099253000,9388101000
longTermInvestments,2529106000,2815624000,2619967000,1934765000
netTangibleAssets,8170434000,10188616000,9708836000,9058676000
shortTermInvestments,6485000,7672000,6750000,103909000
netReceivables,2119211000,982390000,970312000,1001767000
longTermDebt,8756068000,7673152000,5068568000,3755650000
inventory,5401566000,5172292000,5717164000,4318788000
accountsPayable,91464000,165304000,124313000,142207000

# Piotroski-F-Score

In [14]:
balance_sheet = []
income_statement = []
cfs = []
years = []
profitability_score=0
leverage_score=0
operating_efficiency_score=0
pe_ratio=0

# Fetch fin statements

In [15]:
def get_data(ticker):    
    global balance_sheet
    global income_statement
    global cfs
    global years    
    balance_sheet=yf.get_balance_sheet(ticker)
    income_statement=yf.get_income_statement(ticker)
    cfs=yf.get_cash_flow(ticker)
    years=balance_sheet.columns

In [16]:
def get_name(ticker):
    global ticker_names
    ticker_names= yf2.Ticker(ticker)
    ticker_names=ticker_names.info['longName']

# PE Ratios

In [17]:
def pe(ticker):
    global pe_ratio
    pe_ratio=yf.get_quote_table(ticker)['PE Ratio (TTM)']
    if pe_ratio != pe_ratio: #check if NaN
        pe_ratio=0

## Defining Profitability

In [18]:
def profitability():
    global profitability_score
    #Criteria 1
    # Scores 1 and 2 - Net income
    net_income=income_statement[years[0]]['netIncome']
    net_income_py=income_statement[years[1]]['netIncome']
    ni_score=1 if net_income > 0 else 0  
    ni_score_2=1 if net_income > net_income_py else 0
    
    #Criteria 2
    # Score 3 -operating cash flow
    op_cf = cfs[years[0]]['totalCashFromOperatingActivities']
    op_cf_score=1 if op_cf>0 else 0
    
    #Criteria 3
    #Score 4-Change in RoA
    avg_assets=(balance_sheet[years[0]]['totalAssets']+balance_sheet[years[1]]['totalAssets'])/2
    avg_assets_py=(balance_sheet[years[1]]['totalAssets']+balance_sheet[years[2]]['totalAssets'])/2
    RoA=net_income/avg_assets
    RoA_py=net_income_py/avg_assets_py
    RoA_score=1 if RoA > RoA_py else 0
    
    #Criteria 4
    #Score 5-Accruals
    total_assets=balance_sheet[years[0]]['totalAssets']
    accurals=op_cf/total_assets - RoA
    ac_score = 1 if accurals>0 else 0
    
    profitability_score=ni_score+ni_score_2+op_cf_score+RoA_score+ac_score
    print("Profitability Score: "+str(profitability_score))

## Defining Leverage

In [19]:
def leverage():
    global leverage_score
    #Criteria 5 (Modified long-term levarge ratio)
    #Score 6 - Long-term debt ratio
    try:
        lt_debt=balance_sheet[years[0]]['longTermDebt']
        total_assets=balance_sheet[years[0]]['totalAssets']
        debt_ratio=lt_debt/total_assets        
        debt_ratio_score=1 if debt_ratio<0.4 else 0        
    except:
        debt_ratio_score=1
    
        
    #Criteria 6 (Modified current ratio)
    #Score 7 -Current ratio
    current_assets=balance_sheet[years[0]]['totalCurrentAssets']
    current_liab=balance_sheet[years[0]]['totalCurrentLiabilities']
    current_ratio=current_assets/current_liab   
    current_ratio_score=1 if current_ratio>1 else 0
    
    leverage_score = debt_ratio_score + current_ratio_score
    print("Leverage Score: "+str(leverage_score))

## Defining Operating Efficiency

In [20]:
def operating_efficiency():
    global operating_efficiency_score
    #Criteria 8
    #Score 8-Gross margin
    gp=income_statement[years[0]]['grossProfit']
    gp_py=income_statement[years[1]]['grossProfit']
    revenue=income_statement[years[0]]['totalRevenue']
    revenue_py=income_statement[years[1]]['totalRevenue']
    gm=gp/revenue
    gm_py=gp_py/revenue_py
    gm_score=1 if gm>gm_py else 0
    
    #Criteria 9
    #Score 9-Asset Turnover
    avg_assets=(balance_sheet[years[0]]['totalAssets']+balance_sheet[years[1]]['totalAssets'])/2
    avg_assets_py=(balance_sheet[years[1]]['totalAssets']+balance_sheet[years[2]]['totalAssets'])/2
    asset_turnover=revenue/avg_assets  
    asset_turnover_py=revenue_py/avg_assets_py
    asset_turnover_score=1 if asset_turnover>asset_turnover_py else 0
    
    operating_efficiency_score=gm_score+asset_turnover_score
    print("Operating Efficiency: "+str(operating_efficiency_score))

In [21]:
tickers=['CLN.SI','A30.SI','B61.SI','BTE.SI','OU8.SI','C29.SI','C33.SI','C09.SI','ADN.SI','TQ5.SI','586.SI','5PC.SI','F17.SI','5DP.SI'
        ,'5JK.SI','H13.SI','H30.SI','H78.SI','H19.SI','41O.SI','LJ3.SI','5UX.SI','OYY.SI','E8Z.SI','A26.SI','5IC.SI','U06.SI','5H0.SI'
        ,'AWI.SI','T24.SI','CHJ.SI','EH5.SI','U14.SI','W05.SI','Z25.SI','Z59.SI']
summary=pd.DataFrame(columns = ['Ticker Symbol', 'Ticker Name', 'PE ratio', 'Profitability', 'Leverage', 'Operating efficiency'])
for ticker in tickers:
    try:
        get_data(ticker)
        get_name(ticker)
        pe(ticker)
        print(ticker)
        profitability()
        leverage()
        operating_efficiency()
        new_row={'Ticker Symbol':ticker,
                 'Ticker Name': ticker_names,
                 'PE ratio':pe_ratio,
                 'Profitability':profitability_score,
                 'Leverage':leverage_score,
                 'Operating efficiency':operating_efficiency_score}
        summary=summary.append(new_row, ignore_index=True)
        print(ticker+' added.')    
        time.sleep(3)
    except:
        print(ticker+':Something went wrong.')

summary['Total score'] =summary['Profitability']+summary['Leverage']+summary['Operating efficiency']
summary.to_csv('Summary.csv')

CLN.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
CLN.SI added.
A30.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
A30.SI added.
B61.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
B61.SI added.
BTE.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
BTE.SI added.
OU8.SI
Profitability Score: 3
Leverage Score: 0
Operating Efficiency: 0
OU8.SI added.
C29.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 0
C29.SI added.
C33.SI
Profitability Score: 4
Leverage Score: 2
Operating Efficiency: 0
C33.SI added.
C09.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
C09.SI added.
ADN.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 1
ADN.SI added.
TQ5.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
TQ5.SI added.
586.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
586.SI added.
5PC.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
5PC.SI added.
F17.SI
Profitability Score: 5
Leverage Score: 1
Operating Efficiency: 0
F17.SI added.
5DP.SI
Profitability Score: 0
Leverage Score: 1
Operating Efficiency: 1
5DP.SI added.
5JK.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 0
5JK.SI added.
H13.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
H13.SI added.
H30.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
H30.SI added.
H78.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
H78.SI added.
H19.SI
Profitability Score: 3
Leverage Score: 1
Operating Efficiency: 0
H19.SI added.
41O.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
41O.SI added.
LJ3.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
LJ3.SI added.
5UX.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
5UX.SI added.
OYY.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
OYY.SI added.
E8Z.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
E8Z.SI added.
A26.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
A26.SI added.
5IC.SI
Profitability Score: 1
Leverage Score: 1
Operating Efficiency: 0
5IC.SI added.
U06.SI
Profitability Score: 3
Leverage Score: 1
Operating Efficiency: 0
U06.SI added.
5H0.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
5H0.SI added.
AWI.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
AWI.SI added.
T24.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
T24.SI added.
CHJ.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
CHJ.SI added.
EH5.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
EH5.SI added.
U14.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
U14.SI added.
W05.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
W05.SI added.
Z25.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 1
Z25.SI added.
Z59.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
Z59.SI added.

In [22]:
summary

,Ticker Symbol,Ticker Name,PE ratio,Profitability,Leverage,Operating efficiency,Total score
0,CLN.SI,APAC Realty Limited,11.60,5,2,0,7
1,A30.SI,Aspial Corporation Limited,19.17,5,2,0,7
2,B61.SI,Bukit Sembawang Estates Limited,7.87,5,2,1,8
3,BTE.SI,Bund Center Investment Ltd,44.62,3,2,0,5
4,OU8.SI,Centurion Corporation Limited,55.00,3,0,0,3
5,C29.SI,Chip Eng Seng Corporation Ltd,0.00,2,1,0,3
6,C33.SI,Chuan Hup Holdings Limited,12.11,4,2,0,6
7,C09.SI,City Developments Limited,0.00,1,2,0,3
8,ADN.SI,First Sponsor Group Limited,15.06,3,2,1,6
9,TQ5.SI,Frasers Property Limited,5.27,2,1,1,4
10,586.SI,Global Dragon Limited,0.00,1,2,0,3
11,5PC.SI,Goodland Group Limited,0.00,2,2,1,5
12,F17.SI,GuocoLand Limited,11.93,5,1,0,6
13,5DP.SI,Heeton Holdings Limited,0.00,0,1,1,2
14,5JK.SI,Hiap Hoe Limited,0.00,2,1,0,3
15,H13.SI,Ho Bee Land Limited,12.45,2,1,1,4
16,H30.SI,Hong Fok Corporation Limited,0.00,2,2,1,5
17,H78.SI,Hongkong Land Holdings Limited,0.00,2,2,0,4
18,H19.SI,Hwa Hong Corporation Limited,34.00,3,1,0,4
19,41O.SI,LHN Limited,5.58,5,2,1,8
20,LJ3.SI,OUE Limited,0.00,2,2,1,5
21,5UX.SI,Oxley Holdings Limited,0.00,5,2,1,8
22,OYY.SI,PropNex Limited,24.43,5,2,2,9
23,E8Z.SI,Roxy-Pacific Holdings Limited,0.00,2,2,0,4
24,A26.SI,Sinarmas Land Limited,11.04,3,2,0,5
25,5IC.SI,Sing Holdings Limited,9.51,1,1,0,2
26,U06.SI,Singapore Land Group Limited,43.17,3,1,0,4
27,5H0.SI,SingHaiyi Group Ltd.,0.00,2,1,1,4
28,AWI.SI,Thakral Corporation Ltd,10.10,1,2,0,3
29,T24.SI,Tuan Sing Holdings Limited,9.70,5,2,1,8
30,CHJ.SI,Uni-Asia Group Limited,0.00,2,2,0,4
31,EH5.SI,United Overseas Australia Limited,10.45,5,2,1,8
32,U14.SI,UOL Group Limited,449.37,3,2,0,5
33,W05.SI,Wing Tai Holdings Limited,53.71,5,2,1,8
34,Z25.SI,Yanlord Land Group Limited,3.99,3,2,1,6
35,Z59.SI,Yoma Strategic Holdings Ltd.,0.00,2,2,0,4

In [31]:
summary=summary.sort_values(by=['Total score'], ascending=False)

# US Stocks Test

In [24]:
test_summary=pd.DataFrame(columns = ['Ticker', 'Ticker Name', 'PE ratio', 'Profitability', 'Leverage', 'Operating efficiency'])
test_tickers=['msft','aapl','googl','nio']
for ticker in test_tickers:
    try:
        get_data(ticker)
        pe(ticker)
        print(ticker)
        get_name(ticker)
        profitability()
        leverage()
        operating_efficiency()
        new_row={'Ticker':ticker,
                 'Ticker Name':ticker_names,
                 'PE ratio':pe_ratio,
                 'Profitability':profitability_score,
                 'Leverage':leverage_score,
                 'Operating efficiency':operating_efficiency_score}
        test_summary=test_summary.append(new_row, ignore_index=True)
        print(ticker+' added.')    
#         time.sleep(3)
    except:
        print(ticker+':Something went wrong.')

test_summary['Total score'] =test_summary['Profitability']+test_summary['Leverage']+test_summary['Operating efficiency']

msft
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
msft added.
aapl
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
aapl added.
googl
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
googl added.
nio
Profitability Score: 4
Leverage Score: 2
Operating Efficiency: 2
nio added.

In [25]:
test_summary

,Ticker,Ticker Name,PE ratio,Profitability,Leverage,Operating efficiency,Total score
0,msft,Microsoft Corporation,45.63,5,2,2,9
1,aapl,Apple Inc.,33.72,5,2,2,9
2,googl,Alphabet Inc.,39.57,5,2,0,7
3,nio,NIO Inc.,0.00,4,2,2,8

In [30]:
pe_ratio=yf.get_quote_table('B61.SI')['PE Ratio (TTM)']
pe_ratio

7.87

In [36]:
summary.loc[:, summary.columns!='PE ratio']

,Ticker Symbol,Ticker Name,Profitability,Leverage,Operating efficiency,Total score
22,OYY.SI,PropNex Limited,5,2,2,9
31,EH5.SI,United Overseas Australia Limited,5,2,1,8
2,B61.SI,Bukit Sembawang Estates Limited,5,2,1,8
21,5UX.SI,Oxley Holdings Limited,5,2,1,8
19,41O.SI,LHN Limited,5,2,1,8
33,W05.SI,Wing Tai Holdings Limited,5,2,1,8
29,T24.SI,Tuan Sing Holdings Limited,5,2,1,8
1,A30.SI,Aspial Corporation Limited,5,2,0,7
0,CLN.SI,APAC Realty Limited,5,2,0,7
8,ADN.SI,First Sponsor Group Limited,3,2,1,6
12,F17.SI,GuocoLand Limited,5,1,0,6
6,C33.SI,Chuan Hup Holdings Limited,4,2,0,6
34,Z25.SI,Yanlord Land Group Limited,3,2,1,6
32,U14.SI,UOL Group Limited,3,2,0,5
16,H30.SI,Hong Fok Corporation Limited,2,2,1,5
24,A26.SI,Sinarmas Land Limited,3,2,0,5
20,LJ3.SI,OUE Limited,2,2,1,5
3,BTE.SI,Bund Center Investment Ltd,3,2,0,5
11,5PC.SI,Goodland Group Limited,2,2,1,5
30,CHJ.SI,Uni-Asia Group Limited,2,2,0,4
23,E8Z.SI,Roxy-Pacific Holdings Limited,2,2,0,4
27,5H0.SI,SingHaiyi Group Ltd.,2,1,1,4
26,U06.SI,Singapore Land Group Limited,3,1,0,4
18,H19.SI,Hwa Hong Corporation Limited,3,1,0,4
17,H78.SI,Hongkong Land Holdings Limited,2,2,0,4
15,H13.SI,Ho Bee Land Limited,2,1,1,4
9,TQ5.SI,Frasers Property Limited,2,1,1,4
35,Z59.SI,Yoma Strategic Holdings Ltd.,2,2,0,4
14,5JK.SI,Hiap Hoe Limited,2,1,0,3
28,AWI.SI,Thakral Corporation Ltd,1,2,0,3
10,586.SI,Global Dragon Limited,1,2,0,3
7,C09.SI,City Developments Limited,1,2,0,3
5,C29.SI,Chip Eng Seng Corporation Ltd,2,1,0,3
4,OU8.SI,Centurion Corporation Limited,3,0,0,3
25,5IC.SI,Sing Holdings Limited,1,1,0,2
13,5DP.SI,Heeton Holdings Limited,0,1,1,2