In [13]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\damien lim\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (1.2.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: lxml in c:\users\damien lim\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\damien lim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\damien lim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)

In [4]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import time
import random
from tqdm import tqdm
from pandas_datareader import data
from scipy.stats import zscore
import matplotlib.pyplot as plt

In [15]:
!pip install yahoo-fin

Requirement already satisfied: yahoo-fin in c:\users\damien lim\anaconda3\lib\site-packages (0.8.9.1)
Requirement already satisfied: requests in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (2.25.1)
Requirement already satisfied: feedparser in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (6.0.8)
Requirement already satisfied: pandas in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (1.2.4)
Requirement already satisfied: requests-html in c:\users\damien lim\anaconda3\lib\site-packages (from yahoo-fin) (0.10.0)
Requirement already satisfied: sgmllib3k in c:\users\damien lim\anaconda3\lib\site-packages (from feedparser->yahoo-fin) (1.0.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pandas->yahoo-fin) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\damien lim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->yahoo-fin) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\damien lim\anaconda3\lib\site-packages (from requests->yahoo-fin) (1.26.4)
Requirement already satisfied: bs4 in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.0.1)
Requirement already satisfied: parse in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.19.0)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.2.6)
Requirement already satisfied: pyquery in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.4.3)
Requirement already satisfied: w3lib in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (1.22.0)
Requirement already satisfied: fake-useragent in c:\users\damien lim\anaconda3\lib\site-packages (from requests-html->yahoo-fin) (0.1.11)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (8.2.2)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.59.0)
Requirement already satisfied: websockets<10.0,>=9.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (9.1)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\damien lim\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (3.10.0)
Requirement already satisfied: zipp>=0.5 in c:\users\damien lim\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo-fin) (3.4.1)
Requirement already satisfied: beautifulsoup4 in c:\users\damien lim\anaconda3\lib\site-packages (from bs4->requests-html->yahoo-fin) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\damien lim\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests-html->yahoo-fin) (2.2.1)
Requirement already satisfied: lxml>=2.1 in c:\users\damien lim\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo-fin) (4.6.3)
Requirement already satisfied: cssselect>0.7.9 in c:\users\damien lim\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo-fin) (1.1.0)

In [5]:
import yahoo_fin.stock_info as yf

In [6]:
balance_sheet = []
income_statement = []
cfs = []
years = []

In [7]:
def get_data(ticker):
    global balance_sheet
    global income_statement
    global cfs
    global years
    balance_sheet=yf.get_balance_sheet(ticker)
    income_statement=yf.get_income_statement(ticker)
    cfs=yf.get_cash_flow(ticker)
    years=balance_sheet.columns

## Testing for individual stock

In [4]:
get_data('C09.SI')

In [5]:
income_statement

endDate,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Breakdown,,,,
researchDevelopment,None,None,None,None
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,-1790811000,754077000,875538000,763279000
minorityInterest,740249000,746306000,2233243000,2254844000
netIncome,-1917391000,564576000,557330000,522179000
sellingGeneralAdministrative,487852000,591093000,528835000,521507000
grossProfit,828942000,1638486000,1914074000,1684168000
ebit,-305717000,543428000,955782000,775687000
operatingIncome,-305717000,543428000,955782000,775687000
otherOperatingExpenses,646807000,503965000,429457000,386974000
interestExpense,-206298000,-190082000,-131796000,-114943000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,87702000,140716000,214760000,105970000
totalRevenue,2108426000,3428725000,4222563000,3829195000
totalOperatingExpenses,2414143000,2885297000,3266781000,3053508000
costOfRevenue,1279484000,1790239000,2308489000,2145027000
totalOtherIncomeExpenseNet,-1485094000,210649000,-80244000,-12408000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,-1878513000,613361000,660778000,657309000
netIncomeApplicableToCommonShares,-1930295000,551672000,544426000,509275000

# Piotroski-F-Score

In [8]:
balance_sheet = []
income_statement = []
cfs = []
years = []
profitability_score=0
leverage_score=0
operating_efficiency_score=0
pe_ratio=0

# Fetch fin statements

In [9]:
def get_data(ticker):
    global balance_sheet
    global income_statement
    global cfs
    global years
    balance_sheet=yf.get_balance_sheet(ticker)
    income_statement=yf.get_income_statement(ticker)
    cfs=yf.get_cash_flow(ticker)
    years=balance_sheet.columns

# PE Ratios

In [10]:
def pe(ticker):
    global pe_ratio
    pe_ratio=yf.get_quote_table(ticker)['PE Ratio (TTM)']
    if pe_ratio != pe_ratio: #check if NaN
        pe_ratio=0

## Defining Profitability

In [11]:
def profitability():
    global profitability_score
    #Criteria 1
    # Scores 1 and 2 - Net income
    net_income=income_statement[years[0]]['netIncome']
    net_income_py=income_statement[years[1]]['netIncome']
    ni_score=1 if net_income > 0 else 0  
    ni_score_2=1 if net_income > net_income_py else 0
    
    #Criteria 2
    # Score 3 -operating cash flow
    op_cf = cfs[years[0]]['totalCashFromOperatingActivities']
    op_cf_score=1 if op_cf>0 else 0
    
    #Criteria 3
    #Score 4-Change in RoA
    avg_assets=(balance_sheet[years[0]]['totalAssets']+balance_sheet[years[1]]['totalAssets'])/2
    avg_assets_py=(balance_sheet[years[1]]['totalAssets']+balance_sheet[years[2]]['totalAssets'])/2
    RoA=net_income/avg_assets
    RoA_py=net_income_py/avg_assets_py
    RoA_score=1 if RoA > RoA_py else 0
    
    #Criteria 4
    #Score 5-Accruals
    total_assets=balance_sheet[years[0]]['totalAssets']
    accurals=op_cf/total_assets - RoA
    ac_score = 1 if accurals>0 else 0
    
    profitability_score=ni_score+ni_score_2+op_cf_score+RoA_score+ac_score
    print("Profitability Score: "+str(profitability_score))

## Defining Leverage

In [12]:
def leverage():
    global leverage_score
    #Criteria 5 (Modified long-term levarge ratio)
    #Score 6 - Long-term debt ratio
    try:
        lt_debt=balance_sheet[years[0]]['longTermDebt']
        total_assets=balance_sheet[years[0]]['totalAssets']
        debt_ratio=lt_debt/total_assets        
        debt_ratio_score=1 if debt_ratio<0.4 else 0        
    except:
        debt_ratio_score=1
    
        
    #Criteria 6 (Modified current ratio)
    #Score 7 -Current ratio
    current_assets=balance_sheet[years[0]]['totalCurrentAssets']
    current_liab=balance_sheet[years[0]]['totalCurrentLiabilities']
    current_ratio=current_assets/current_liab   
    current_ratio_score=1 if current_ratio>1 else 0
    
    leverage_score = debt_ratio_score + current_ratio_score
    print("Leverage Score: "+str(leverage_score))

## Defining Operating Efficiency

In [13]:
def operating_efficiency():
    global operating_efficiency_score
    #Criteria 8
    #Score 8-Gross margin
    gp=income_statement[years[0]]['grossProfit']
    gp_py=income_statement[years[1]]['grossProfit']
    revenue=income_statement[years[0]]['totalRevenue']
    revenue_py=income_statement[years[1]]['totalRevenue']
    gm=gp/revenue
    gm_py=gp_py/revenue_py
    gm_score=1 if gm>gm_py else 0
    
    #Criteria 9
    #Score 9-Asset Turnover
    avg_assets=(balance_sheet[years[0]]['totalAssets']+balance_sheet[years[1]]['totalAssets'])/2
    avg_assets_py=(balance_sheet[years[1]]['totalAssets']+balance_sheet[years[2]]['totalAssets'])/2
    asset_turnover=revenue/avg_assets  
    asset_turnover_py=revenue_py/avg_assets_py
    asset_turnover_score=1 if asset_turnover>asset_turnover_py else 0
    
    operating_efficiency_score=gm_score+asset_turnover_score
    print("Operating Efficiency: "+str(operating_efficiency_score))

In [16]:
tickers=['CLN.SI','A30.SI','B61.SI','BTE.SI','OU8.SI','C29.SI','C33.SI','C09.SI','ADN.SI','TQ5.SI','586.SI','5PC.SI','F17.SI','5DP.SI'
        ,'5JK.SI','H13.SI','H30.SI','H78.SI','H19.SI','41O.SI','LJ3.SI','5UX.SI','OYY.SI','E8Z.SI','A26.SI','5IC.SI','U06.SI','5H0.SI'
        ,'AWI.SI','T24.SI','CHJ.SI','EH5.SI','U14.SI','W05.SI','Z25.SI','Z59.SI']
summary=pd.DataFrame(columns = ['Ticker', 'PE ratio', 'Profitability', 'Leverage', 'Operating efficiency'])
for ticker in tickers:
    try:
        get_data(ticker)
        pe(ticker)
        print(ticker)
        profitability()
        leverage()
        operating_efficiency()
        new_row={'Ticker':ticker,
                 'PE ratio':pe_ratio,
                 'Profitability':profitability_score,
                 'Leverage':leverage_score,
                 'Operating efficiency':operating_efficiency_score}
        summary=summary.append(new_row, ignore_index=True)
        print(ticker+' added.')    
        time.sleep(3)
    except:
        print(ticker+':Something went wrong.')

summary['Total score'] =summary['Profitability']+summary['Leverage']+summary['Operating efficiency']
summary.to_csv('Summary.csv')

CLN.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
CLN.SI added.
A30.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
A30.SI added.
B61.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
B61.SI added.
BTE.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
BTE.SI added.
OU8.SI
Profitability Score: 3
Leverage Score: 0
Operating Efficiency: 0
OU8.SI added.
C29.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 0
C29.SI added.
C33.SI
C33.SI:Something went wrong.
C09.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
C09.SI added.
ADN.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 1
ADN.SI added.
TQ5.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
TQ5.SI added.
586.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
586.SI added.
5PC.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
5PC.SI added.
F17.SI
Profitability Score: 5
Leverage Score: 1
Operating Efficiency: 0
F17.SI added.
5DP.SI
Profitability Score: 0
Leverage Score: 1
Operating Efficiency: 1
5DP.SI added.
5JK.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 0
5JK.SI added.
H13.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
H13.SI added.
H30.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
H30.SI added.
H78.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
H78.SI added.
H19.SI
Profitability Score: 3
Leverage Score: 1
Operating Efficiency: 0
H19.SI added.
41O.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
41O.SI added.
LJ3.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 1
LJ3.SI added.
5UX.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
5UX.SI added.
OYY.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
OYY.SI added.
E8Z.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
E8Z.SI added.
A26.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
A26.SI added.
5IC.SI
Profitability Score: 1
Leverage Score: 1
Operating Efficiency: 0
5IC.SI added.
U06.SI
Profitability Score: 3
Leverage Score: 1
Operating Efficiency: 0
U06.SI added.
5H0.SI
Profitability Score: 2
Leverage Score: 1
Operating Efficiency: 1
5H0.SI added.
AWI.SI
Profitability Score: 1
Leverage Score: 2
Operating Efficiency: 0
AWI.SI added.
T24.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
T24.SI added.
CHJ.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
CHJ.SI added.
EH5.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
EH5.SI added.
U14.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 0
U14.SI added.
W05.SI
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 1
W05.SI added.
Z25.SI
Profitability Score: 3
Leverage Score: 2
Operating Efficiency: 1
Z25.SI added.
Z59.SI
Profitability Score: 2
Leverage Score: 2
Operating Efficiency: 0
Z59.SI added.

In [17]:
summary

    Ticker  PE ratio Profitability Leverage Operating efficiency Total score
0   CLN.SI     11.32             5        2                    0           7
1   A30.SI     12.67             5        2                    0           7
2   B61.SI      7.12             5        2                    1           8
3   BTE.SI     40.38             3        2                    0           5
4   OU8.SI     16.25             3        0                    0           3
5   C29.SI      0.00             2        1                    0           3
6   C09.SI      0.00             1        2                    0           3
7   ADN.SI     15.06             3        2                    1           6
8   TQ5.SI     20.00             2        1                    1           4
9   586.SI      0.00             1        2                    0           3
10  5PC.SI      0.00             2        2                    1           5
11  F17.SI     41.03             5        1                    0           6
12  5DP.SI     42.86             0        1                    1           2
13  5JK.SI      0.00             2        1                    0           3
14  H13.SI     13.88             2        1                    1           4
15  H30.SI      0.00             2        2                    1           5
16  H78.SI      0.00             2        2                    0           4
17  H19.SI     55.83             3        1                    0           4
18  41O.SI      5.50             5        2                    1           8
19  LJ3.SI      0.00             2        2                    1           5
20  5UX.SI      0.00             5        2                    1           8
21  OYY.SI     24.05             5        2                    2           9
22  E8Z.SI      0.00             2        2                    0           4
23  A26.SI     10.83             3        2                    0           5
24  5IC.SI     12.67             1        1                    0           2
25  U06.SI     42.54             3        1                    0           4
26  5H0.SI      0.00             2        1                    1           4
27  AWI.SI      4.44             1        2                    0           3
28  T24.SI      9.70             5        2                    1           8
29  CHJ.SI      0.00             2        2                    0           4
30  EH5.SI     10.45             5        2                    1           8
31  U14.SI    445.00             3        2                    0           5
32  W05.SI     54.86             5        2                    1           8
33  Z25.SI      4.03             3        2                    1           6
34  Z59.SI      0.00             2        2                    0           4

In [14]:
test_summary=pd.DataFrame(columns = ['Ticker', 'PE ratio', 'Profitability', 'Leverage', 'Operating efficiency'])
test_tickers=['msft','aapl','googl','nio']
for ticker in test_tickers:
    try:
        get_data(ticker)
        pe(ticker)
        print(ticker)
        profitability()
        leverage()
        operating_efficiency()
        new_row={'Ticker':ticker,
                 'PE ratio':pe_ratio,
                 'Profitability':profitability_score,
                 'Leverage':leverage_score,
                 'Operating efficiency':operating_efficiency_score}
        test_summary=test_summary.append(new_row, ignore_index=True)
        print(ticker+' added.')    
#         time.sleep(3)
    except:
        print(ticker+':Something went wrong.')

test_summary['Total score'] =test_summary['Profitability']+test_summary['Leverage']+test_summary['Operating efficiency']

msft
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
msft added.
aapl
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 2
aapl added.
googl
Profitability Score: 5
Leverage Score: 2
Operating Efficiency: 0
googl added.
nio
Profitability Score: 4
Leverage Score: 2
Operating Efficiency: 2
nio added.

In [15]:
test_summary

  Ticker  PE ratio Profitability Leverage Operating efficiency Total score
0   msft     37.01             5        2                    2           9
1   aapl     26.37             5        2                    2           9
2  googl     28.11             5        2                    0           7
3    nio      0.00             4        2                    2           8